@font-face {
    font-family: Nasa;
    src: url("/font/nasalization-rg.otf");
  }



html {
    
	height:100vh;
    width: 100vw;
	background-size: cover;
    overflow-x: hidden;
    overflow-y: hidden;

}

#canvas {

    position: fixed;
    width: 100%;
    height: 100%;
    margin-top: -100px;
    z-index: -1;
	overflow: hidden;
    background-image: linear-gradient(to bottom, rgba(20, 18, 18, 0.788), rgba(7, 0, 14, 0.959));

}


#deck-creator-section{

	height:100%;
    width: 100%;
    overflow: hidden;
    background-size: cover;
}

.container{
    
    position: relative;
    width: 100px;
    margin-bottom: 30px;
    margin-left: 50px;

}

.icon {
    position: absolute;

    width: 30px;
    height: 30px;
    padding-top:-50px ;
}



.frame2{

    width: 100%;
    height: 100%;
    
}

.btnBack {

    margin-top: 100px;
}